@keyframes toset {
    30% {
        transform: translateZ(-100px);
    }
    70% {
        transform: translateZ(-100px) rotateY(180deg);
    }
    100% {
        transform: translateZ(0) rotateY(180deg);
    }
}

@keyframes tonotes {
    0% {
        transform: translateZ(0) rotateY(180deg);
    }
    30% {
        transform: translateZ(-100px) rotateY(180deg);
    }
    70% {
        transform: translateZ(-100px) rotateY(0);
    }
    100% {
        transform: translateZ(0) rotateY(0);
    }
}
@keyframes totb {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
